// 
// ナビゲーションバーとツールバーの設定
// 


/* # 全体の調整 */
.navbar > .container {
    /* 原則ページの左端にラインを合わせるが、
     * ウィンドウが狭くなった際にはウィンドウ端から8px離すようにする */
    padding: 0;
    width: calc(100% - (var(--navbar-margin-horizon) * 2));
    & .navbar-brand {
        box-sizing: content-box;
    }

}


/* # ツールバー */
@media (min-width: 768px), (min-height: 500px) {
    .app > .container:not([style]) {
        width: calc(100% - var(--navbar-margin-horizon));
        max-width: var(--body-max-width);
        padding: 0;
    }
    div.quick-launch.layout-page {
        /* ツールバーの余分な当たり判定を消す */
        margin: 0;
    }
}
