@media (min-width: 768px) and (min-height: 768px) {
    body, *::after, *::before {
        --page-info-height: 0px;
    }
    div.page-menu {
        grid-template-columns: repeat(var(--page-menu-columns), 1fr);
    }
    .dropdown ul.dropdown-menu-right {
        /* ボタンを押した時のメニューの位置 */
        top: 50px;
        right: 0;
    }
}